*{
    margin: 0;
    padding: 0;
}
.toggle{
    height: 20px;
    width: 20px;
   
}
.navbar{
    background-color: rgb(242, 116, 116);
   
}
.navitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 10px 20px; 
   font-weight: bold;
    
}
.navitems a{
    text-decoration: none;
    color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(243, 222, 195);
}
.content,
.image {
    
    flex: 1;
          
      
}
.image{
    min-width:10rem;
    
    
   
}
img {
    width: 100%;
    height: auto;
}

.content {
    padding: 50px;
    margin: auto;
    font-size:large;
  
}
button{
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(229, 115, 115);
    border-radius: 5px;
    border: none;
    width: 8rem;
}

@media only screen and (max-width: 600px) {
    .content,
    .image {
        max-width: 100%; 
    }
}
.secondcontainer{
    display: flex;
    flex-wrap:wrap;
    background-color:rgb(241, 205, 165);
    justify-content: space-around;
   
}
.image-container {
    max-width: 100px;
    display: grid;
    gap: 5px;
    padding: 10px;
   margin-left: 2rem;
   justify-content: center;
    
}


.content-container {
    margin: auto;
    background-color: rgb(186, 87, 65);
    padding: 15px;
    border-radius: 5px;
    display:flex;
    width: 20rem;
    flex-direction: column;
    height: 10rem;
   
   margin-right: auto;
    
}
.image-row {
    width: 12rem;
    display: flex;
    padding: 10px;
    margin-right: auto;
    
    
}
